@charset 'UTF-8';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss';

$question: #ee7800;
$gray-lighter: #f3f3f3;
$info-area-background: #3eb370;
$max-width: 950px;

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

.wrapper {
  border: solid 1px $gray-lighter;
  height: 100%;
  margin: 0 auto;
  max-width: $max-width;
  width: 100%;

  p {
    margin: 0;
  }
}

.info-area {
  background-color: $info-area-background;
  border-bottom: solid 1px $gray-lighter;
  padding: 1% 2%;
  width: 100%;

  .header {
    color: white;
    font-size: $font-size-large;
    font-weight: bold;
  }

  .header-comment {
    color: white;
    font-size: $font-size-small;
    margin-left: 5px;
  }
}

.show-comment-area {
  -webkit-overflow-scrolling: touch;
  height: calc(100% - 33px - 40px);
  overflow: scroll;

  .section-comment {
    padding: 0 2%;

    &:nth-child(even) {
      background-color: $gray-lighter;
    }
  }

  .question {
    color: $question;
    font-weight: bold;
  }
}

.post-comment-area {
  border: solid 1px $gray-lighter;
  height: 33px;
  max-width: $max-width;
  position: fixed;
  width: 100%;

  .post-comment {
    width: calc(100% - 62px);
  }

  .btn {
    height: 100%;
    width: 58px;
  }
}
